html {
    width: 100%;
    height: 100%;
    overflow: auto;
}

header {
    height: 68px;
    width: 100%;
    vertical-align: middle;
    background-color: rgb(20, 20, 20);
    font-weight: bolder;
}

body {
    background-color: rgb(20, 20, 20);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /*font-size: 16px;
    font-family: 'HelveticaNeueLT Std', sans-serif;*/
    width: 100%;
    height: 100%;
    color: white;
    margin: 0;
}

section {
    background-color: rgb(10, 10, 10);
    text-align: center;
    display: -webkit-flex;
    display: flex;
    min-height: 76%;
    height: auto;
}

aside {
    min-height: 100%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

article {
    background-color: rgb(30, 30, 30);
    min-height: 100%;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding-top: 16px;
    padding-bottom: 16px;
}

nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

footer {
    height: 94px;
    width: 100%;
    background-color: rgb(20, 20, 20);
}

table {
    width: 100%;
    height: inherit;
}

th {
    padding: 0;
}

h6 {
    margin: 0;
    font-size: larger;
}

.search_form {
    width: 90%;
    height: 32px;
    background-color: white;
    text-align: center;
    color: grey;
    border: solid black 3px;
    border-radius: 8px;
    transition: 0.4s;
    font-size: medium;
    font-weight: lighter;
}

.search_form:hover {
    border-color: green;
    transition: 0.4s;
}

.header_bar:hover {
    color: black;
    outline: none;
    transition: 0.4s;
}

.header_bar:focus {
    border: none;
    outline: none;
    transition: 0.4s;
}

.header_bar {
    height: 28px;
    min-height: 28px;
    max-height: 28px;
    margin: 0;
    border: none;
    color: inherit;
    background-color: white;
    font-family: inherit;
    text-align: left;
    font-weight: lighter;
    transition: 0.4s;
}

.button1 {
    padding: 6px 14px;
    font-size: larger;
    background: none;
    border: solid white 3px;
    background-color: inherit;
    border-radius: 8px;
    transition: 0.2s;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 70%;
}

.button1:hover {
    border-color: green;
    background-color: green;
    transition: 0.2s;
}

.dropbtn {
    padding: 6px 14px;
    background-color: inherit;
    color: white;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border: solid black 3px;
    transition: 0.4s;
    width: 70%;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: black;
    transition: 0.4s;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
    width: 100%;
}
  
.dropdown_content {
    display: none;
    position: absolute;
    font-size: large;
    background-color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
}
  
.dropdown_content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: solid black 3px;
    font-weight: 100;
    transition: 0.4s;
    border-radius: 8px;
}
  
.dropdown_content a:hover {
    background-color: rgb(20, 20, 20);
    font-weight: bold;
    transition: 0.4s;
}
  
.show {
    display:block;
}

.profilepic {
    border: 3px solid black;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

.profilepic:hover {
    border-color: white;
    transition: 0.2s;
}

.profile {
    border: 3px solid black;
    border-radius: 148px;
    width: 148px;
    height: 148px;
}

.form1 {
    padding-top: 20px;
    font-size: large;
    color: white;
    background-color: inherit;
    width: 120px;
    border: none;
    border-bottom: 2px solid white;
    padding-left: 8px;
    transition: 0.2s;
}

.form1:focus, .form1:hover {
    background-color: inherit;
    border: none;
    border-bottom: 2px solid white;
    width: 128px;
    outline: none;
    transition: 0.2s;
}

.label1 {
    width: 100px;
    font-size: large;
}

.form_box {
    padding-top: 24px;
    padding-left: 16px;
    text-align: left;
    height: auto;
    background-color: rgb(20, 20, 20);
    margin-top: 82px;
    margin-bottom: 82px;
    box-shadow: rgb(0, 0, 0) 0 20px 30px -10px;
}

.disabled-button {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.5; /* make the button appear greyed out */
}

.game-link {
    position: relative;
    display: inline-block; /* this is needed for the pseudo-element to work correctly */
    padding-bottom: 10px; /* adjust this value as needed */
    padding-top: 10px;
    border-radius: 12px;
    transition: 0.2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-link:hover {
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
}



.entry {
    margin-bottom: 0;  /* Adjust to remove space between entries */
    padding-left: 20px;   /* Add left spacing */
    padding-right: 20px;  /* Add right spacing */
}

.forum-style {
    width: 80%;
    margin: auto;
}

.comment {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.user-info {
    font-weight: bold;
}

.comment-text {
    margin-top: 10px;
}

a {
    color: inherit;  /* the color will be the same as the parent element */
    text-decoration: none;  /* removes the underline */
}

a:visited {
    color: inherit;
}

a:hover {
    color: inherit;
}

.results_box {
    text-align: left;
    margin: 8px;
    text-indent: 8px;
    line-height: 1.8;
}

.results_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.result_link {
    padding: 8px;
}

.game_image {
    border: solid black 3px;
    border-radius: 4px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.4s;
}

.game_header {
    border: solid black 3px;
    border-radius: 4px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.4s;
}

.game_header:hover {
    transition: 0.4s;
    border-color: white;
}

.screenShot_Table {
    width: 90%;
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 10px;
}

.screenShot_Button {
    min-height: 100%;
    height: 340px;
    width: 100%;
    border: none;
    font-size: larger;
    background: none;
    transition: 0.2s;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.screenShot_Button:hover {
    background-color: rgba(255, 255, 255, 10%);
    transition: 0.2s;
}

.profile_Settings {
    padding: 10% 5%;
    text-align: left;
}

.label2 {
    padding: 8px;
    width: 100%;
    resize: none;
    background-color: rgba(255, 255, 255, 4%);
    border: none;
    color: inherit;
    font-family: inherit;
    transition: 0.4s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    font-size: medium;
}

.label2:focus {
    background-color: rgba(0, 0, 0, 40%);
    transition: 0.4s;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}