header {
    background-image: url("sky.jpg");
    border: 2px solid;
    border-radius: 16px;
}

nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    background-image: url("sky.jpg");
    border: 2px solid;
    border-radius: 16px;
}

section {
    display: -webkit-flex;
    display: flex;
}

h1 {
   font-family: 'Courier New', sans-serif;
}

article {
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
    margin-left: 6px;
}

body {
    font-size: 16px;
    font-family: 'HelveticaNeueLT Std', sans-serif;
}

a:link, a:visited {
    width: 100%;
    color: dodgerblue;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    text-decoration: underline;
}

.button1 {
    background-color: rgba(0,0,0,0);
    border-radius: 8px;
    border: 2px solid black;
    font-size: 20px;
    color: black;
    width: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: inherit;
    margin-bottom: 20px;
}

.button2 {
    background-color: dodgerblue;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 16px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: inherit;
}

.button1:hover, .button2:hover {
    background-color: white;
    cursor: inherit;
}

.dotdiv {
    text-align: center;
    border-bottom: 4px black dotted;
}

.form1 {
    background-color: rgba(0, 0, 0, 0);
    width: 100px;
    color: black;
    border: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s;
}

.form1:focus {
    width: 108px;
    border-bottom: 2px solid black;
}

form {
    text-align: center;
}

table {
    width: 100%;
}

.flex1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex2 {
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

.profile_pic {
    width: 30px;
    height: 30px;
    border: 2px solid black;
}

.username {
    text-decoration: none;
}

.username:hover {
    text-decoration: underline white 2px;
}