<!DOCTYPE html>
<html>

    {% extends "votacao/index.html" %}


    {% block title %}Questão {{questao.id}}{% endblock %}


    {% block header_title %}{{ questao.questao_texto }}{% endblock %}


    {% block nav %}
    {% if request.user.is_superuser %}
        <br>
        <p class="dotdiv"> </p>
        <br>
        <a href="{% url 'votacao:criaropcao' questao.id %}"><button class="button1">Adicionar Opção</button></a>
        <br>
        <a href="{% url 'votacao:deletequestao' questao.id %}"><button class="button1">Apagar Questão</button></a>
    {% endif %}
    {% endblock %}


    {% block body %} <article> <body>

        <br>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <form method="post"  action="{% url 'votacao:trataropcao' questao.id %}">
            {% csrf_token %}
            {% for opcao in questao.opcao_set.all %}
            <input type="radio" name="opcao" id="opcao{{ forloop.counter }}" value="{{ opcao.id }}" />
            <label for="opcao{{ forloop.counter }}"> {{ opcao.opcao_texto }} </label>
            <br>
            {% endfor %}
            <br>
            <input class="button2" type="submit" name="value" value="Voto" />
            {% if request.user.is_superuser %}
                <input class="button2" type="submit" name="value" value="Apagar Opção" />
            {% endif %}
            <br>
        </form>

    </body> </article> {% endblock %}

</html>