<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Questões{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<header>
    <h1> <table style="width: 100%">
        <th style="text-align: left; width: 40%">{% block header_title %} Últimas Questões{% endblock %}</th>
        <th style="text-align: right; width: 46%"> {% block header_name %}
            {% if request.user.is_authenticated %}
            {{ request.user}} votos: {{ request.user.aluno.votos }}
            {% else %}
            User
            {% endif %}
        {% endblock %} </th>
         <th style="text-align: center; width: 4%"> {% block profile_pic %}
            {% if request.user.is_authenticated %}
                {% if request.user.aluno.profile_picture %}
                <img style="border: 2px solid black; border-radius: 26px" width="28" height="28" src='{% static request.user.aluno.profile_picture %}'>
                {% else %}
                <img style="border: 2px solid black; border-radius: 26px" width="28" height="28" src='{% static "defaultpp.jpg" %}'>
                {% endif %}
            {% else %}
            <img style="border: 2px solid black; border-radius: 26px" width="28" height="28" src='{% static "defaultpp.jpg" %}'>
            {% endif %}
         {% endblock %} </th>
    </table> </h1>
</header>

<br>

<section>

    {% block body %} <article> <body>
    {% if latest_question_list %}
    <ul>
        {% for questao in latest_question_list %}
        <li>
            <a href="{% url 'votacao:detalhe' questao.id %}"> {{ questao.questao_texto }} </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nao ha questoes disponiveis.</p>
    {% endif %}
    {% if request.user.is_superuser %}
    <a href="{% url 'votacao:criarquestao' %}"><button class="button2">Criar Questão</button></a>
    {% endif %}
    </body> </article> {% endblock %}

    <nav>

        <br>
        <a href="{% url 'votacao:index' %}"><button class="button1">Página Inicial</button></a>
        <br>

        {% if request.user.is_authenticated %}
        <a href="{% url 'votacao:userPage' %}"><button class="button1">Perfil</button></a>
        {% else %}
        <a href="{% url 'votacao:loginPage' %}"><button class="button1">Login</button></a>
        {% endif %}

        {% block nav %} {% endblock %}

        <br>

    </nav>

</section>

</html>