<!DOCTYPE html>
<html>

{% extends "votacao/index.html" %}


{% block title %} Questão {{questao.id}} {% endblock %}


{% block header %} {{ questao.questao_texto }} {% endblock %}


{% block body %} <article> <body>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <ul>
        {% for opcao in questao.opcao_set.all %}
        <li>{{ opcao.opcao_texto }}: {{ opcao.votos }} voto{{ opcao.votos|pluralize }}
        </li>
        {% endfor %}
    </ul>

    {% if request.user.is_authenticated %}
    <a href="{% url 'votacao:detalhe' questao.id %}"><button class="button2">Votar novamente?</button></a>
    {% endif %}
</body> </article> {% endblock %}

</html>