<!DOCTYPE html>
<html>

    <head>
	    <meta charset="UTF-8">
	    <title>Criar Opção</title>
    </head>

    <header>
        <h1 style="font-family: 'Courier New', sans-serif">{{questao.questao_texto}}</h1>
    </header>

    <body style="font-family: 'HelveticaNeueLT Std', sans-serif">
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <form action="{% url 'votacao:submeteropcao' questao.id %}" method="post">
            {% csrf_token %}
            <label> Escreva a sua Opção: <br>
                <input type="text" name="opcaotexto" value="{{ opcaotexto }}" />
            </label>
            <br> <br>
            <input type="submit" value="Submeter" />
        </form>

        </body>
</html>