header {
    background-color: #ccc;
    }

body {
    
    font-family: sans-serif;
    
}
.main-container {
    display: flex;
  height: 100vh;
  
}

#adlinks {
    
        
        padding-top: 10%;
      

}

#projetoformnav a:link, #projetoformnav a:visited {
    background-color: #111;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

    #projetoformnav {
    padding-bottom: 10px;
    border-bottom: 3px solid #111;
}

.links {
    padding: 20px;
    height: 100%;
  width: 200px;
  top: 0;
  left: 0;
  background-color: #aaa;
  float: left;
}

.content {
padding:20px;

float: left;

height: 100%;
}

.teste {
    font-family: arial, hevetica, sans-serif;
    font-weight: bold;
    color: darkseagreen;
}
    

