<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
    {% if latest_question_list %}
    <ul>
        {% for questao in latest_question_list %}
        <li>
            <a href="{% url 'votacao:detalhe' questao.id %}">
                {{ questao.questao_texto }}
            </a>
        </li>
        {% endfor %}

    </ul>
    {% else %}
    <p>Nao ha questoes disponiveis.</p>
    {% endif %}
    <div>
        <a href="{% url 'votacao:criarquestao' q %}"><button type="button"> Criar questão!  </button></a>
    </div>
</body>
</html>