<!DOCTYPE html>
<html lang="en">
{% extends "gameapp/index.html" %}

{% load static %}
   

    

    {% block title %}Search: {{ keyword }}{% endblock %}

    {% block main_article %}
        <div class="profile_Settings">
            <form id="validarComentario" method="POST" action="{% url 'gameapp:submitComment' %}">
                {% csrf_token %}
                <label class="label1">Write the comment! <br><br>
                    <textarea id="text" name="text" class="label2" rows="4" cols="50">{{ comment.texto }}</textarea>
                </label><br><br><br>
                <center>
                <input class="button1" type="submit" value="Submit Comment">
                    </center>
            </form>
            <p id="error_message" style="color: red; display: none;"></p>
        </div>
    {% endblock %}
</html>