<!DOCTYPE html>
<html lang="en">
{% extends "gameapp/index.html" %}

{% load static %}

    {% block title %}Gameplay for {{game.nome}}{% endblock %}

    {% block main_article %}
        <div class="profile_Settings">
                <h2 style="text-align: center">{% if numeroGameplays == 0 %}Post {{game.nome}} first Gameplay{% else %} Post Gameplay number: {{numeroGameplays|add:"1"}}{% endif %}</h2>
                {% if numeroGameplays != 0 %}
                    <center><h1>You have a series going, congrats!</h1></center>
                {% endif %}

                <form method="post" enctype="multipart/form-data" action="{% url 'gameapp:submitGameplay' %}">
                {% csrf_token %}


                <br> <br>

                <label class="label1">Insert video Link (caracters after "watch?v="): <br> <br>
                    <input name="link" class="label2" type="text">
                </label><br><br>

                <label class="label1">Title: <br><br>
                    <input name="titulo" class="label2" type="text">
                </label><br><br><br>

                <label class="label1">Description: <br><br>
                    <textarea name="descricao" class="label2" rows="4" cols="50"></textarea>
                </label><br><br><br>

                <br> <br>

                <center>
                <input class="button1" type="submit" value=Submit>
                </center>
            </form>
        </div>
    {% endblock %}

</html>