<!DOCTYPE html>
<html lang="en">
{% extends "gameapp/index.html" %}

{% load static %}

    {% block title %}Search: {{ keyword }}{% endblock %}

    {% block main_article %}

            <form method="POST" action="{% url 'gameapp:submitComment' %}">
                {% csrf_token %}
                <label for="text">Comment text:</label><br>
                <textarea id="text" name="text"></textarea><br>
                <input type="submit" value="Submit Comment">
            </form>
    {% endblock %}
</html>