<!DOCTYPE html>
<html lang="en">

{% extends "gameapp/index.html" %}

{% load static %}

    {% block title %}Search {{ request.keyword }}{% endblock %}

    {% block main_article %}
    <div class="profile_Settings">
        <h2 style="text-align: center">{% if review %}Update{% else %}New{% endif %} {{game.nome}} Review</h2> <br>
        <form method="post" enctype="multipart/form-data" action="{% url 'gameapp:submitReview' %}">
            {% csrf_token %}
            <label class="label1">Would you Recommend {{game.nome}}?
                <select class="label2" style="width: 200px" name="tipo">

                    <option style="background-color: rgb(20, 20, 20); border: none" {% if 'Recommended' == review.tipoReview %} selected="selected" {% endif %} value="Recommended">Recommended</option>
                    <option style="background-color: rgb(20, 20, 20); border: none" {% if 'Mixed Feelings' == review.tipoReview %} selected="selected" {% endif %} value="Mixed Feelings">Mixed Feelings</option>
                    <option style="background-color: rgb(20, 20, 20); border: none" {% if 'Not Recommended' == review.tipoReview %} selected="selected" {% endif %} value="Not Recommended">Not Recommended</option>

                </select>
            </label>

            <br> <br>
            <label class="label1">Describe your Experience <br> <br>
                <textarea name="texto" class="label2" rows="4" cols="50">{{ review.texto }}</textarea>
            </label>

            <br> <br>

            <center>
            <input class="button1" type="submit" value={% if review %}"Update"{% else %}"Submit"{% endif %}>
            </center>
        </form>
    </div>
    {% endblock %}
</html>