<!DOCTYPE html>
<html>
{% extends "gameapp/index.html" %}

{% load static %}

    {% block title %} {{ game_details.name }} {% endblock %}


    {% block body_tags %} background="{{ gameDetails.header_image }}" {% endblock %}
    {% block section_tags %} style="background-color: rgba(0, 0, 0, 0)" {% endblock %}
    {% block article_tags %} style="background-color: rgba(0, 0, 0, 75%);" {% endblock %}


    {% block left_aside %} {% endblock %}


    {% block main_article %}
        <h2>{{ gameDetails.name }}</h2>
        <img style="width: 100%" src="{{ gameDetails.header_image }}" alt="{{ gameDetails.name }}">
        <br>
        <div class="game-stats">
            <p class="game-rating">Número Ratings: {% if jogo %} {{ jogo.numeroRatings }} {%else%} 0 {% endif %}</p>
            <p class="game-points">Média: {% if jogo %} {{ jogo.media }} {%else%} 0 {% endif %}</p>
        </div><br><br>
        {% if user.is_authenticated %}
            {% if inList %}
                <a href="{% url 'gameapp:addToList' gameDetails.steam_appid %}">
                    <button class="block-element button1">Alter list entry details</button>
                </a>
                <a href="{% url 'gameapp:createThread' gameDetails.steam_appid %}">
                    <button class="block-element button1">Create Thread</button>
                </a>
                <a href="{% url 'gameapp:createReview' gameDetails.steam_appid %}">
                    <button class="block-element button1">Create Review</button>
                </a>
                <a href="https://www.youtube.com/watch?v=5skpcb3881U">
                    <button class="block-element button1">Create Gameplay</button>
                </a>
            {% else %}
                <a href="{% url 'gameapp:addToList' gameDetails.steam_appid %}">
                    <button class="block-element button1">Add to List</button>
                </a>
                <button class="block-element button1 disabled-button" disabled title="Must be in list">Create Thread</button>
                <button class="block-element button1 disabled-button" disabled title="Must be in list">Create Review</button>
                <button class="block-element button1 disabled-button" disabled title="Must be in list">Create Gameplay</button>
            {% endif %}

        {% else %}
            <button class="block-element button1 disabled-button" disabled title="Must be logged in">Add to List</button>
            <button class="block-element button1 disabled-button" disabled title="Must be logged in">Create Thread</button>
            <button class="block-element button1 disabled-button" disabled title="Must be logged in">Create Review</button>
            <button class="block-element button1 disabled-button" disabled title="Must be logged in">Create Gameplay</button>
        {% endif %}



            <a href="{% url 'gameapp:threadsForGameSearch' gameDetails.steam_appid %}"> <!-- replace with your forums URL -->
                <button class="block-element button1">Check threads for game</button>
            </a>
        <h3>About the Game</h3>
        <p>{{ gameDetails.about_the_game|safe }}</p>

        <h3>Detailed Description</h3>
        <p>{{ gameDetails.detailed_description|safe }}</p>

        <h3>Supported Languages</h3>
        <p>{{ gameDetails.supported_languages|safe }}</p>

        <!--
        <h3>System Requirements</h3>
        <h4>PC:</h4>

            <ul class="requirements-list">
            {% for key, value in gameDetails.pc_requirements.items %}
                {% if key != "minimum" and key != "recommended" %}
                    <li>{{ key }}: {{ value|safe }}</li>
                {% else %}
                    <li>{{ value|safe }}</li>
                {% endif %}
            {% endfor %}
            </ul>

            <h4>Mac:</h4>
            <ul class="requirements-list">
            {% for key, value in gameDetails.mac_requirements.items %}
                {% if key != "minimum" and key != "recommended" %}
                    <li>{{ key }}: {{ value|safe }}</li>
                {% else %}
                    <li>{{ value|safe }}</li>
                {% endif %}
            {% endfor %}
            </ul>

            <h4>Linux:</h4>
            <ul class="requirements-list">
            {% for key, value in gameDetails.linux_requirements.items %}
                {% if key != "minimum" and key != "recommended" %}
                    <li>{{ key }}: {{ value|safe }}</li>
                {% else %}
                    <li>{{ value|safe }}</li>
                {% endif %}
            {% endfor %}
            </ul>
-->
        <h3>Screenshots</h3>
        {% for screenshot in gameDetails.screenshots %}
            <img src="{{ screenshot.path_thumbnail }}" alt="Screenshot {{ forloop.counter }}">
        {% endfor %}
    {% endblock %}
</html>