<!DOCTYPE html>
<html lang="en">
{% extends "gameapp/index.html" %}

{% load static %}

    {% block title %}Search: {{ keyword }}{% endblock %}

    {% block main_article %}

        <h1>Jogo: </h1>

        <a href="{% url 'gameapp:gameDetailsView' gameplaylist.listaUtilizadorJogo.jogo.steam_id %}">
        <h2>{{ gameplaylist.listaUtilizadorJogo.jogo.nome }}</h2><br>
        </a>

        <h2>Titulo: {{ gameplaylist.listaUtilizadorJogo.jogo.nome }}</h2><br>
        <h2>Descrição:</h2>
        <p>{{ gameplaylist.listaUtilizadorJogo.jogo.nome }}</p><br><br>
        <h2>Video:</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{gameplaylist.gameplay.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<br><br>

        <h2>Criador:</h2>
        <a href="{% url 'gameapp:profile_page' gameplaylist.listaUtilizadorJogo.utilizador.id %}">
        <p>{{ gameplaylist.listaUtilizadorJogo.jogo.nome }}</p><br><br>
        </a>




    {% endblock %}

</html>