<!DOCTYPE html>
<html>
{% extends "gameapp/index.html" %}

{% load static %}

    {% block javascript %}
        $("#details").click(function() {
            $("#game_details").toggle(
                function() {
                    if($("#details").text() == "Show more Details") {
                        $("#details").text("Hide Details");
                    } else {
                        $("#details").text("Show more Details");
            }});
        });
        
        $(document).ready(function() {
            var currentImageIndex = 0;
            var totalImages = {{ gameDetails.screenshots|length }};

            function showImage(index) {
                $('.screenshot').hide();
                $('.screenshot').eq(index).show();
            }

            // Show the first image initially
            showImage(currentImageIndex);

            $('#prevBtn').click(function() {
                currentImageIndex = Math.max(0, currentImageIndex - 1);
                showImage(currentImageIndex);
            });

            $('#nextBtn').click(function() {
                currentImageIndex = Math.min(totalImages - 1, currentImageIndex + 1);
                showImage(currentImageIndex);
            });
        });
        
    {% endblock %}

    {% block title %} {{ game_details.name }} {% endblock %}

    {% if background %}
    {% block body_tags %} background="{{ background.path_full }}" {% endblock %}
    {% block section_tags %} style="background-color: rgba(0, 0, 0, 0)" {% endblock %}
    {% block article_tags %} style="background-color: rgba(0, 0, 0, 60%);" {% endblock %}
    {% endif %}


    {% block aside_tags %} style="padding: 20px; text-align: left;" {% endblock %}
    {% block left_aside %}
    <div style="background-color: rgba(0, 0, 0, 60%); padding: 8px; border-radius: 8px;">
        <img class="game_image" src="{{ gameDetails.header_image }}" title="{{ gameDetails.name }}">

        <br>

        <center><h2>{{ gameDetails.name }}</h2></center>

        <p>Ratings: {% if jogo %} {{ jogo.numeroRatings }} {%else%} 0 {% endif %}</p>
        <p>Score: {% if jogo %} {{ jogo.media }} {%else%} 0 {% endif %}</p>

        <center>

        {% if user.is_authenticated %}

            <form class="search_form" style="width: 100%" action="{% url 'gameapp:gameAddedToList' %}" method="post">
                {% csrf_token %}

                <label class="header_bar" style="width: 30%">State:
                <select class="header_bar" style="width: 30%;" name="estado">

                    <option {% if lista %} {% if 'PP' == lista.estado %} selected="selected" {% endif %} {% endif %} value="PP">Plan-to-Play</option>
                    <option {% if lista %} {% if 'PL' == lista.estado %} selected="selected" {% endif %} {% endif %} value="PL">Playing</option>
                    <option {% if lista %} {% if 'CM' == lista.estado %} selected="selected" {% endif %} {% endif %} value="CM">Completed</option>
                    <option {% if lista %} {% if 'OH' == lista.estado %} selected="selected" {% endif %} {% endif %} value="OH">On Hold</option>
                    <option {% if lista %} {% if 'DR' == lista.estado %} selected="selected" {% endif %} {% endif %} value="DR">Dropped</option>

                </select>
                </label>

                <label class="header_bar" style="width: 30%">Rating:
                <select class="header_bar" style="width: 14%" name="rating">

                    <option {% if lista %} {% if 1 == lista.rating %} selected="selected" {% endif %} {% endif %} value="1">1</option>
                    <option {% if lista %} {% if 2 == lista.rating %} selected="selected" {% endif %} {% endif %} value="2">2</option>
                    <option {% if lista %} {% if 3 == lista.rating %} selected="selected" {% endif %} {% endif %} value="3">3</option>
                    <option {% if lista %} {% if 4 == lista.rating %} selected="selected" {% endif %} {% endif %} value="4">4</option>
                    <option {% if lista %} {% if 5 == lista.rating %} selected="selected" {% endif %} {% endif %} value="5">5</option>
                    <option {% if lista %} {% if 6 == lista.rating %} selected="selected" {% endif %} {% endif %} value="6">6</option>
                    <option {% if lista %} {% if 7 == lista.rating %} selected="selected" {% endif %} {% endif %} value="7">7</option>
                    <option {% if lista %} {% if 8 == lista.rating %} selected="selected" {% endif %} {% endif %} value="8">8</option>
                    <option {% if lista %} {% if 9 == lista.rating %} selected="selected" {% endif %} {% endif %} value="9">9</option>
                    <option {% if lista %} {% if 10 == lista.rating %} selected="selected" {% endif %} {% endif %} value="10">10</option>

                </select>
                </label>

                <input class="header_bar" style="width:20%; cursor: pointer; background-color: rgba(0, 0, 0, 0%)" type="submit" name="result" {% if lista %} value="Change" {% else %} value="Add" {% endif %} />

            </form> <br>

            {% if lista %}
                <a href="{% url 'gameapp:gameRemovedFromList' gameDetails.steam_appid %}">
                    <button class="button1">Remove Entry</button>
                </a> <br> <br>
                <a href="{% url 'gameapp:createThread' gameDetails.steam_appid %}">
                    <button class="button1">Create Thread</button>
                </a> <br> <br>
                <a href="{% url 'gameapp:createReview' gameDetails.steam_appid %}">
                    <button class="button1">Create Review</button>
                </a> <br> <br>
                <a href="https://www.youtube.com/watch?v=5skpcb3881U">
                    <button class="button1">Create Gameplay</button>
                </a> <br> <br>
            {% else %}
                <button class="button1 disabled-button" disabled title="Must be in list">Create Thread</button> <br> <br>
                <button class="button1 disabled-button" disabled title="Must be in list">Create Review</button> <br> <br>
                <button class="button1 disabled-button" disabled title="Must be in list">Create Gameplay</button> <br> <br>
            {% endif %}

        {% else %}
            <button class="button1 disabled-button" disabled title="Must be logged in">Create Thread</button> <br> <br>
            <button class="button1 disabled-button" disabled title="Must be logged in">Create Review</button> <br> <br>
            <button class="button1 disabled-button" disabled title="Must be logged in">Create Gameplay</button> <br> <br>
        {% endif %}
        <a href="{% url 'gameapp:threadsForGameSearch' gameDetails.steam_appid %}"> <!-- replace with your forums URL -->
                <button class="button1">Check threads</button>
        </a> <br> <br>
        </center>
    </div>
    {% endblock %}


    {% block main_article %}
        <h2>About the Game</h2>
        <div class="results_box">{{ gameDetails.about_the_game|safe }}</div>

        <button id="details" class="button1">Show more Details</button>
        <div id="game_details" class="results_box" style="display: none">{{ gameDetails.detailed_description|safe }}</div>

        <h3>Supported Languages</h3>
        <p>{{ gameDetails.supported_languages|safe }}</p>

        <!--
        <h3>System Requirements</h3>
        <h4>PC:</h4>

            <ul class="requirements-list">
            {% for key, value in gameDetails.pc_requirements.items %}
                {% if key != "minimum" and key != "recommended" %}
                    <li>{{ key }}: {{ value|safe }}</li>
                {% else %}
                    <li>{{ value|safe }}</li>
                {% endif %}
            {% endfor %}
            </ul>

            <h4>Mac:</h4>
            <ul class="requirements-list">
            {% for key, value in gameDetails.mac_requirements.items %}
                {% if key != "minimum" and key != "recommended" %}
                    <li>{{ key }}: {{ value|safe }}</li>
                {% else %}
                    <li>{{ value|safe }}</li>
                {% endif %}
            {% endfor %}
            </ul>

            <h4>Linux:</h4>
            <ul class="requirements-list">
            {% for key, value in gameDetails.linux_requirements.items %}
                {% if key != "minimum" and key != "recommended" %}
                    <li>{{ key }}: {{ value|safe }}</li>
                {% else %}
                    <li>{{ value|safe }}</li>
                {% endif %}
            {% endfor %}
            </ul>
-->
       <h3>Screenshots</h3>
    <div class="screenshot-gallery">
    
       
                {% for screenshot in gameDetails.screenshots %}
                <div class="screenshot" style="display: none;">
                    <img src="{{ screenshot.path_thumbnail }}" alt="Screenshot {{ forloop.counter }}">
                </div>
                {% endfor %}
                
          <table>
            <th>
                <button id="prevBtn" class="button1"><</button>
            </th>
            <th>    
                <button id="nextBtn" class="button1"> > </button>
            </th>
        </table>
        
    </div>
    {% endblock %}
</html>