<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="UTF-8">
    <title> {% block title %}Newbix{% endblock %} </title>

    <link rel="stylesheet" type="text/css" href="{% static 'utils/style.css' %}" />
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <!-- <script src="{% static 'script.js' %}"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- <script src="script.js"></script> -->

    <script>

        $(document).ready(function() {
            $("#dropdown_button").click(function() {
            $("#my_dropdown").fadeIn(400);
        });

        $(window).on("click", function() {
            if (!$(event.target).is('#dropdown_button')) {
                $("#my_dropdown").fadeOut(400);
            }
        });

        $("#dropdown_button2").click(function() {
            $("#my_dropdown2").fadeIn(400);
        });

        $(window).on("click", function() {
            if (!$(event.target).is('#dropdown_button2')) {
                $("#my_dropdown2").fadeOut(400);
            }
        });

        $("#dropdown_button3").click(function() {
            $("#my_dropdown3").fadeIn(400);
        });

        $(window).on("click", function() {
            if (!$(event.target).is('#dropdown_button3')) {
                $("#my_dropdown3").fadeOut(400);
            }
        });

    });

    </script>

</head>


<body>

<header>

    <table>

        <th style="width: 10%">

            <figure style="margin: 0px">

                <a href="{% url 'gameapp:index' %}">

                <img src='{% static "utils/NewBix.png" %}' height="58px">
                <!--<img height="46" src='{% static "NewBix.png" %}'>-->
                
                </a>
                
            </figure> 

        </th>


        <th style="width: 10%">

            <div class="dropdown">

                <button id="dropdown_button" class="dropbtn">Games</button>

                <div id="my_dropdown" class="dropdown_content">

                    <a href="#">Top</a>
                    <a href="#">Recent</a>
                    <a href="#">Most Popular</a>

                </div>

            </div>

        </th>

        <th style="width: 10%">

            <div class="dropdown">

                <button id="dropdown_button2" class="dropbtn">Forums</button>

                <div id="my_dropdown2" class="dropdown_content">

                    <a href="#">Reviews</a>
                    <a href="#">Gameplays</a>
                    <a href="#">Posts</a>

                </div>

            </div>

        </th>

        <th style="width: 40%">
            
            <form class="search_form" action="{% url 'gameapp:searchResults' %}" method="post">
                {% csrf_token %}

                <select class="header_bar" style="width: 16%;" name="filter">

                    <option value="all">All</option>

                    <option value="games">Games</option>

                    <option value="threads">Threads</option>

                    <option value="users">Users</option>

                </select>

                <label class="header_bar" style="width: 8%;">Your text:
                <input class="header_bar" style="width: 56%;" type="text" name="search" value="" />
                </label>
                
                <input class="header_bar" style="width: 10%; cursor: pointer;" type="submit" name="result" value="Search" />


            </form>

        </th>

        {% block header_login %}

        {% if request.user.is_authenticated %}

        <th style="width: 14%; text-align: right">

            <div class="dropdown" style="text-align: center">

                <button id="dropdown_button3" class="dropbtn">{{ request.user }}</button>

                <div id="my_dropdown3" class="dropdown_content">

                    <a href="{% url 'gameapp:profile' %}">Profile</a>
                    <a href="#">Completed Game List</a>
                    <a href="#">Plan-to-Play List</a>
                    <a href="#">Gameplays</a>
                    <a href="#">Reviews</a>
                    <a href="#">Threads</a>
                    <a href="{% url 'gameapp:logout' %}">LogOut</a>

                </div>

            </div>

        </th>

        <th style="width: 6%">

            <figure style="margin: 0">

                <a href="{% url 'gameapp:profile' %}">

                {% if request.user.utilizador.profile_picture %}
                <img class="profilepic" src='{% static request.user.utilizador.profile_picture %}'>
                {% else %}
                <img class="profilepic" src='{% static "utils/defaultpp.jpg" %}'>
                {% endif %}

                </a>

            </figure>

        </th>

        {% else %}
        <th style="width: 10%">
                
            <a href="{% url 'gameapp:signin' %}"><button class="button1">Sign In</button></a>

        </th>

        <th style="width: 10%">
                
            <a href="{% url 'gameapp:login' %}"><button class="button1">Login</button></a>

        </th>
        {% endif %}

        {% endblock %}

    </table>

</header>

{% block main_body %}
<section>

    <aside>
        {% block left_aside %}

        {% endblock %}
    </aside>

    <article>
        {% block main_article %}

        {% endblock %}
    </article>

    <nav>
        {% block right_nav %}

        {% endblock %}
    </nav>

</section>
{% endblock %}


<footer>

footer

</footer>

</body>


</html>