<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="UTF-8">
    <title> {% block title %}Newbix{% endblock %} </title>

    <link rel="stylesheet" type="text/css" href="{% static 'utils/style.css' %}" />
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <!-- <script src="{% static 'script.js' %}"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- <script src="script.js"></script> -->

    <script>
        $(document).ready(function() {
            $('#validarComentario').submit(function(event){
                let texto = $('#text').val();
                let palavras = texto.split(" ");
                let arrayInsultos = [
                    "abecula","abentesma","achavascado","alimária",
                    "andrajoso", "barregã", "biltre", "cacóstomo",
                    "cuarra", "estólido", "estroso", "estultilóquio",
                    "nefelibata","néscio", "pechenga", "sevandija",
                    "somítico", "tatibitate", "xexé", "cheché", "xexelento"];

                let existeInsulto = Boolean(false);
                let insulto = 'nenhum';

                for(let i = 0; i < palavras.length; i++) {
                    let palavrasmin = palavras[i].toLowerCase();
                    for (let z = 0; z < arrayInsultos.length; z++) {
                        if (palavrasmin === arrayInsultos[z]) {
                            existeInsulto = Boolean(true);
                            insulto = palavrasmin;
                            break;
                        }
                    }
                    if (existeInsulto === true) {
                        break;
                    }
                }
                if (existeInsulto) {
                    $('#error_message').text('Erro: O texto contém o insulto "' + insulto + '". Por favor, insira um comentário válido.');
                    $('#error_message').show();
                    event.preventDefault();
                } else {
                    $('#error_message').hide();
                }
            });
        });

        $(document).ready(function() {
            $("#dropdown_button").click(function() {
            $("#my_dropdown").fadeIn(400);
        });

        $(window).on("click", function() {
            if (!$(event.target).is('#dropdown_button')) {
                $("#my_dropdown").fadeOut(400);
            }
        });

        $("#dropdown_button2").click(function() {
            $("#my_dropdown2").fadeIn(400);
        });

        $(window).on("click", function() {
            if (!$(event.target).is('#dropdown_button2')) {
                $("#my_dropdown2").fadeOut(400);
            }
        });

        $("#dropdown_button3").click(function() {
            $("#my_dropdown3").fadeIn(400);
        });

        $(window).on("click", function() {
            if (!$(event.target).is('#dropdown_button3')) {
                $("#my_dropdown3").fadeOut(400);
            }
        });

        {% block javascript %} {% endblock %}

    });

    </script>

</head>


<body {% block body_tags %} {% endblock %}>

<header>

    <table>

        <th style="width: 10%">

            <figure style="margin: 0px">

                <a href="{% url 'gameapp:index' %}">

                <img src='{% static "utils/NewBix.png" %}' height="58px">
                <!--<img height="46" src='{% static "NewBix.png" %}'>-->
                
                </a>
                
            </figure> 

        </th>


        <th style="width: 10%">

            <div class="dropdown">

                <button id="dropdown_button" class="dropbtn">Games</button>

                <div id="my_dropdown" class="dropdown_content">

                    <a href="{% url 'gameapp:topGamesResults' %}">Top</a>

                    <a href="{% url 'gameapp:popularGamesResults' %}">Most Popular</a>

                </div>

            </div>

        </th>

        <th style="width: 10%">

            <div class="dropdown">

                <button id="dropdown_button2" class="dropbtn">Forums</button>

                <div id="my_dropdown2" class="dropdown_content">

                    <a href="{% url 'gameapp:recentReviewsResults' %}">Reviews</a>
                    <a href="{% url 'gameapp:recentGameplays' %}">Gameplays</a>
                    <a href="{% url 'gameapp:recentThreadsResults' %}">Threads</a>

                </div>

            </div>

        </th>

        <th style="width: 40%">
            
            <form class="search_form" action="{% url 'gameapp:searchResults' %}" method="post">
                {% csrf_token %}

                <select class="header_bar" style="width: 16%;" name="filter">

                    <option value="all">All</option>

                    <option value="games">Games</option>

                    <option value="threads">Threads</option>

                    <option value="users">Users</option>

                </select>

                <label class="header_bar" style="width: 8%;">Your text:
                <input class="header_bar" style="width: 56%;" type="text" name="search" value="" />
                </label>
                
                <input class="header_bar" style="width: 10%; cursor: pointer;" type="submit" name="result" value="Search" />


            </form>

        </th>

        {% block header_login %}

        {% if request.user.is_authenticated %}

        <th style="width: 14%; text-align: right">

            <div class="dropdown" style="text-align: center;">

                <button id="dropdown_button3" class="dropbtn">{{ request.user }}</button>

                <div id="my_dropdown3" class="dropdown_content">

                    <a href="{% url 'gameapp:profile_page' request.user.id %}">Profile</a>
                    <a href="{% url 'gameapp:userListView' request.user.id %}">Games List</a>
                    <a href="{% url 'gameapp:settings' %}">Settings</a>
                    <a href="{% url 'gameapp:userGameplays' request.user.id %}">Gameplays</a>
                    <a href="{% url 'gameapp:userReviews' request.user.id %}">Reviews</a>
                    <a href="{% url 'gameapp:userThreads' request.user.id %}">Threads</a>
                    <a href="{% url 'gameapp:logout' %}">LogOut</a>

                </div>

            </div>

        </th>

        <th style="width: 6%">

            <figure style="margin: 0">

                <a href="{% url 'gameapp:profile_page' request.user.utilizador.id %}">

                {% if request.user.utilizador.profile_picture %}
                <img class="profilepic" src='{% static request.user.utilizador.profile_picture %}'>
                {% else %}
                <img class="profilepic" src='{% static "utils/defaultpp.jpg" %}'>
                {% endif %}

                </a>

            </figure>

        </th>

        {% else %}
        <th style="width: 10%">
                
            <a href="{% url 'gameapp:signin' %}"><button class="button1">Sign In</button></a>

        </th>

        <th style="width: 10%">
                
            <a href="{% url 'gameapp:login' %}"><button class="button1">Login</button></a>

        </th>
        {% endif %}

        {% endblock %}

    </table>

</header>

{% block main_body %}
<section {% block section_tags %} {% endblock %}>

    <aside {% block aside_tags %} {% endblock %}>
        {% block left_aside %}

        {% endblock %}
    </aside>

    <article {% block article_tags %} {% endblock %}>
        {% block main_article %}
        <div class="results_box">
            <h1 style="text-indent: 0">In NewBix you'll be able to share your opinions on games in all sorts of fashions as well as read about what our users have to say. <br> <center>Let's go!</center></h1>
        <center><h2>Main page game roullete!</h2>
        {% for result in randomGame %}

            <a {% if result.img %} href="{% url 'gameapp:gameDetailsView' result.id.0 %}" {% else %} href="{% url 'gameapp:gameDetailsView' result.steam_appid %}" {% endif %} class="game-link">
                    <div class="result_link" style="text-indent: 0;">
                    {{ result.name }} <br>
                    {% if result.img %}
                    <img src="{{ result.img }}" alt="Image">
                    {% else %}
                    <img src="{{result.capsule_imagev5}}" alt="Image">
                    {% endif %}
                    </div>
                </a>
        {% endfor %}
        </center>

        {% if recentGameplay %}
            <h1>Your friend posted this Gameplay!!</h1>

            <div class="results_grid" style="grid-template-columns: repeat(1, 1fr);">
                <a href="{% url 'gameapp:gameplayView' recentGameplay.gameplay.id %}" class="game-link entry" style="text-decoration: none; color: inherit;">
                    <div class="result_link" style="text-indent: 0;">
                        <table>
                            <tr>
                                <th>{{recentGameplay.listaUtilizadorJogo.jogo.nome}}</th>
                                <th style="text-align: right;">{{recentGameplay.gameplay.titulo}}</th>
                            </tr>
                            <tr>
                                <th><img src="{{ recentGameplay.listaUtilizadorJogo.jogo.get_img_url }}" alt="Image"></th>
                                <th style="text-align: right;">Made by: {{recentGameplay.listaUtilizadorJogo.utilizador.username}}</th>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>
            {% else %}

            <br>

            <h1>Try making new Friends, to see and share your Experiences.</h1>

            {% endif %}

            {% if recentThread %}
            <h1>A new Thread was posted on one of your Recent Games!</h1>

            <div class="results_grid" style="grid-template-columns: repeat(1, 1fr);">
                <a href="{% url 'gameapp:threadView' recentThread.id %}" class="game-link entry" style="text-decoration: none; color: inherit;">
                    <div class="result_link" style="text-indent: 0;">
                        <table>
                            <tr>
                                <th>{{recentThread.listaThreads.listaUtilizadorJogo.jogo.nome}}</th>
                                <th style="text-align: right;">{{recentThread.threadTopic}}</th>
                            </tr>
                            <tr>
                                <th><img src="{{ recentThread.listaThreads.listaUtilizadorJogo.jogo.get_img_url }}" alt="Image"></th>
                                <th style="text-align: right;">{{ recentThread.titulo}}<br>Written by: {{recentThread.listaThreads.listaUtilizadorJogo.utilizador.user}}</th>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>

            {% else %}

            <br>

            <h1>Try adding Games to your List, to see and share your Experiences.</h1>

            {% endif %}

            <br>
        </div>
        {% endblock %}
    </article>

    <nav {% block nav_tags %} {% endblock %}>
        {% block right_nav %}

        {% endblock %}
    </nav>

</section>
{% endblock %}


<footer>

<div style="display: flex;">

    <table style="width: 100%; text-align: center">
        <th style="width: 40%; box-sizing: border-box">
            <a href="https://www.iscte-iul.pt/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Logo_ISCTE_Instituto_Universit%C3%A1rio_de_Lisboa.svg/1280px-Logo_ISCTE_Instituto_Universit%C3%A1rio_de_Lisboa.svg.png" alt="ISCTE" style="width: 400px;">
            </a>
        </th>
        <th style="width: 20%; box-sizing: border-box; font-size: smaller; text-align: left; line-height: 0.6">
            <br><br>Site built by:<br> <br> <br>
            Filipe Delmotte<br> <br>
            Guilherme Lopes<br> <br>
            Tiago Gonçalves<br> <br>
        </th>
        <th style="width: 20%; box-sizing: border-box; font-size: smaller; text-align: left">
            <p>Site built using python-steam-api 2.0</p>
        </th>
        <th style="width: 20%; box-sizing: border-box">
            <a href="https://pypi.org/project/python-steam-api/">
                <img src="https://cdn.freebiesupply.com/images/large/2x/steam-logo-black-transparent.png" alt="Steam API" style="height: 80px;">
            </a>
        </th>
    </table>

</div>

</footer>

</body>


</html>