<!DOCTYPE html>
<html lang="en">
{% extends "gameapp/index.html" %}

{% load static %}

    {% block title %} {{ utilizador.username }} Profile {% endblock %}

    {% block right_nav %}
    <div style="text-align: center; background-color: rgb(20, 20, 20); padding: 16px; border-radius: 8px; margin: 32px; box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;" >

        <br>

        <a href="{% url 'gameapp:userListView' utilizador.user.id %}">
            <button class="block-element button1">Game List</button>
        </a> <br><br>
        <a href="{% url 'gameapp:userGameplays' utilizador.user.id %}">
            <button class="block-element button1">Gameplay List</button>
        </a> <br><br>
        <a href="{% url 'gameapp:userReviews' utilizador.user.id %}">
            <button class="block-element button1">Review List</button>
        </a> <br><br>
        <a href="{% url 'gameapp:userThreads' utilizador.user.id %}">
            <button class="block-element button1">Thread List</button>
        </a> <br><br> <br>

    </div>
    {% endblock %}


    {% block left_aside %}

    <div style="text-align: left; background-color: rgb(20, 20, 20); padding: 16px; border-radius: 8px; margin: 32px; box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;" >

        <br>

        <center><figure style="margin: 8px">

            {% if utilizador.profile_picture %}
            <img class="profile" src='{% static utilizador.profile_picture %}'>
            {% else %}
            <img class="profile" src='{% static "utils/defaultpp.jpg" %}'>
            {% endif %}

        </figure>

        <br>

    <h2>{{ utilizador.user }}</h2>

    {% if request.user.is_authenticated %}
        {% if request.user == utilizador.user %}
        <a href="{% url 'gameapp:settings' %}">
            <button class="block-element button1">Edit Profile</button>
        </a>
        {% else %}
            {% if not isFriend %}
            <a href="{% url 'gameapp:addFriend' utilizador.id %}">
                <button class="block-element button1">Add Friend</button>
            </a>
            {% else %}
            <a href="{% url 'gameapp:removeFriend' utilizador.id %}">
                <button class="block-element button1">Remove Friend</button>
            </a>
            {% endif %}
        {% endif %}
    {% endif %}
    </center>

    <p>
        {% if utilizador.user.last_login %}
        Last time online: {{ utilizador.user.last_login.date }}
        {% endif %}
    </p>

    <p>
        NewBixer since: {{ utilizador.user.date_joined.date }}
    </p>

    <p>Completed Games: {{ utilizador.jogos_completos }}

    <p>{% if utilizador.localidade %}
    From: {{ utilizador.localidade }}
    {% endif %}</p>

    <p>Gender: {{ utilizador.genero }}</p>
    </div>


    {% endblock %}


    {% block main_article %}
    <div style="padding: 24px; text-align: left">
        <h2>About Me</h2>
        {% if games %}
        {{ utilizador.biografia }}
        {% else %}
        New Newbie!
        {% endif %}

        <br> <br> <br>

        {% if last_review %}
        <h2>{{utilizador.user}}'s Latest Review</h2>
        <a href="{% url 'gameapp:reviewView' last_review.id %}" class="game-link entry" style="text-decoration: none; color: inherit; box-sizing: border-box; width: 50%; text-align: left;">

            <table>

                <th>{{last_review.listaUtilizadorJogo.jogo.nome}}</th>

                <th style="text-align: right;">{{last_review.tipoReview}}</th>

            </table>

            <br>

            <img src="{{ last_review.listaUtilizadorJogo.jogo.get_img_url }}" alt="Image">
        </a>

        <br> <br>
        {% endif %}

        {% if games %}
        <h2>Favorite Games</h2>
        <table style="text-align: left">
            {% for game in games %}
            <th>
                <a href="{% url 'gameapp:gameDetailsView' game.jogo.steam_id %}" class="game-link entry" style="text-decoration: none; color: inherit;">
                    <div style="align-items: center;">
                    <img src="{{ game.jogo.get_img_url }}" alt="Image">
                    <p style="margin: 4px">{{ game.jogo.nome }} </p>
                    </div>
                </a>
            </th>
            {% endfor %}
        </table>
        {% else %}
        No Games Rated yet.
        {% endif %}

        <br>

        <h2>{{utilizador.user}}'s Friends</h2>
        {% if friends %}
        <table style="text-align: left; width: 100%">
            {% for u in friends %}
            <th style="width: 20%; padding: 10px;">
                <a href="{% url 'gameapp:profile_page' u.utilizador_seguido.id %}" class="game-link entry" style="text-decoration: none; color: inherit;">
                    <div style="text-align: center;">
                        {% if u.utilizador_seguido.profile_picture %}
                        <img class="profile" style="width: 64px; height: 64px" src='{% static u.utilizador_seguido.profile_picture %}'>
                        {% else %}
                        <img class="profile" style="width: 64px; height: 64px" src='{% static "utils/defaultpp.jpg" %}'>
                        {% endif %}
                        <p style="margin: 4px">{{ u.utilizador_seguido.user }} </p>
                    </div>
                </a>
            </th>
            {% endfor %}
        </table>
        {% else %}
        <div style="text-align: center">
            <p>No friends yet. ; _ ;</p>
            <img style="width: 25%; box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;" src='{% static "utils/kiryuCry.jpg" %}'>
        </div>
        {% endif %}

        <br>

    </div>
    {% endblock %}

</html>