<!DOCTYPE html>
<html lang="en">
{% extends "gameapp/index.html" %}

{% load static %}

    {% block title %} {{ utilizador.username }} Profile {% endblock %}

    {% block left_aside %}

        <br>

        <figure style="margin: 8px">

            {% if request.user.utilizador.profile_picture %}
            <img class="profile" src='{% static request.user.utilizador.profile_picture %}'>
            {% else %}
            <img class="profile" src='{% static "utils/defaultpp.jpg" %}'>
            {% endif %}

        </figure>

        <br>

    <h6>{{ utilizador.user_id }}</h6>

    {% if request.user.is_authenticated %}
        {% if request.user == utilizador.user_id %}
        <a href="{% url 'gameapp:settings' %}">
            <button class="block-element button1">Edit Profile</button>
        </a>
        {% else %}
            {% if not isFriend %}
            <a href="{% url 'gameapp:addFriend' utilizador.id %}">
                <button class="block-element button1">Add Friend</button>
            </a>
            {% else %}
            <a href="{% url 'gameapp:removeFriend' utilizador.id %}">
                <button class="block-element button1">Remove Friend</button>
            </a>
            {% endif %}
        {% endif %}
    {% endif %}

    <p>
        {% if utilizador.user_id.last_login %}
        Last time online: {{ utilizador.user_id.last_login.date }}
        {% endif %}
    </p>

    <p>
        NewBixer since: {{ utilizador.user_id.date_joined.date }}
    </p>

    <p>Completed Games: {{ utilizador.jogos_completos }}

    <p>{% if utilizador.localidade %}
    From: {{ utilizador.localidade }}
    {% endif %}</p>

    <p>Genre: {% if utilizador.genero %}
    {{ utilizador.genero }}
    {% else %}
    Not specified
    {% endif %}</p>


    {% endblock %}


    {% block main_article %}
    {{ utilizador.biografia }}
    {% endblock %}

</html>