<!DOCTYPE html>
<html lang="en">
{% extends "gameapp/index.html" %}

{% load static %}

    {% block title %} {{ utilizador.username }} Profile {% endblock %}

    {% block left_aside %}

        <br>

        <figure style="margin: 8px">

            {% if request.user.utilizador.profile_picture %}
            <img class="profile" src='{% static request.user.utilizador.profile_picture %}'>
            {% else %}
            <img class="profile" src='{% static "utils/defaultpp.jpg" %}'>
            {% endif %}

        </figure>

        <br>

    <h6>{{ utilizador.username }}ya</h6>

    <p>
        {% if request.user.last_login %}
        Last time online: {{ utilizador.user_id.last_login.date }}
        {% endif %}
    </p>

    <p>
        NewBixer since: {{ utilizador.user_id.date_joined.date }}
    </p>

    <p>Completed Games: {{ utilizador.jogos_completos }}

    <p>{% if utilizador.localidade %}
    From: {{ utilizador.localidade }}
    {% endif %}</p>

    <p>Genre: {% if utilizador.genero %}
    {{ utilizador.genero }}
    {% else %}
    Not specified
    {% endif %}</p>


    {% endblock %}


    {% block main_article %}
    {{utilizador.biografia}}
    {% endblock %}

</html>