<!DOCTYPE html>
<html lang="en">


{% extends "gameapp/index.html" %}

{% load static %}

    {% block title %}Search: {{ keyword }}{% endblock %}

    {% block main_article %}

        {% if resultArrayReviews %}
                <h1>Reviews:</h1>
                {% for result in resultArrayReviews %}
                    <a href="{% url 'gameapp:reviewView' result.id %}" class="game-link entry" style="text-decoration: none; color: inherit;">
                        <div>
                            <p>Titulo: {{ result.titulo}}</p>
                            <p>Reviews' game:</p>
                            <p>{{ result.listaUtliziadorJogo_id.jogo_id.nome }}</p>
                            <p>Creador: {{ result.listaUtliziadorJogo_id.utilizador_id.username }}</p>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <h1>No Reviews found</h1><br><br>
            {% endif %}
    {% endblock %}
</html>