<!DOCTYPE html>
<html lang="en">
{% extends "gameapp/index.html" %}

{% load static %}

    {% block title %}Search: {{ keyword }}{% endblock %}

    {% block main_article %}
        <h1>Jogo: </h1>

        <a href="{% url 'gameapp:gameDetailsView' steam_id %}">
        <h2>{{ review.listaUtliziadorJogo_id.jogo_id.nome }}</h2><br>
        </a>

        <h2>Titulo: {{ review.titulo }}</h2><br>
        <h2>Descrição:</h2>
        <p>{{ review.texto }}</p><br><br>
        <h2>Criador:</h2>
        <a href="{% url 'gameapp:profile_page' steam_id %}">
        <p>{{ review.listaUtliziadorJogo_id.utilizador_id.username }}</p><br><br>
        </a>

    {% endblock %}
</html>