<!DOCTYPE html>
<html lang="en">


{% extends "gameapp/index.html" %}

{% load static %}

    {% block title %}Search: {{ keyword }}{% endblock %}

    {% block main_article %}

    Search Results for: {{ keyword }} <br>

        <div class="results_box">
        {% if filter == 'all' %}
            {% if resultArrayGames %}
            <h1>Games:</h1>

            <div class="results_grid">
                {% for result in resultArrayGames %}
                <a {% if result.img %} href="{% url 'gameapp:gameDetailsView' result.id.0 %}" {% else %} href="{% url 'gameapp:gameDetailsView' result.steam_appid %}" {% endif %} class="game-link">
                    <div class="result_link" style="text-indent: 0;">
                        <center>
                        {{ result.name }} <br>
                        {% if result.img %}
                        <img src="{{ result.img }}" alt="Image">
                        {% else %}
                        <img src="{{result.capsule_imagev5}}" alt="Image">
                        {% endif %}
                        </center>
                    </div>
                </a>
                {% endfor %}
            </div>

            {% else %}
                <h1>No games found</h1><br><br>
            {% endif %}

            {% if resultArrayUsers %}
                <h1>Users:</h1>

                <div class="results_grid" style="grid-template-columns: repeat(3, 1fr);">
                {% for result in resultArrayUsers %}
                <a href="{% url 'gameapp:profile_page' result.id %}" class="game-link">
                    <div class="result_link" style="text-indent: 0; vertical-align: middle;">
                        <table>
                        <th style="width: 35%">{% if result.profile_picture %}
                        <img class="profile" style="width: 60px; height: 60px;" src='{% static result.profile_picture %}'>
                        {% else %}
                        <img class="profile" style="width: 60px; height: 60px;" src='{% static "utils/defaultpp.jpg" %}'>
                        {% endif %}</th>
                        <th style="width: 65%">{{ result.username}}</th>
                        </table>
                    </div>
                </a>
                {% endfor %}
                </div>

            {% else %}
                <h1>No users found</h1><br><br>
            {% endif %}

            {% if resultArrayThreads %}
            <h1>Threads:</h1>

            <div class="results_grid" style="grid-template-columns: repeat(1, 1fr);">
                {% for result in resultArrayThreads %}
                <a href="{% url 'gameapp:threadView' result.id %}" class="game-link entry" style="text-decoration: none; color: inherit;">
                    <div class="result_link" style="text-indent: 0;">
                        <table>
                            <tr>
                                <th>{{result.jogo.nome}}</th>
                                <th style="text-align: right;">{{result.threadTopic}}</th>
                            </tr>
                            <tr>
                                <th><img src="{{ result.jogo.get_img_url }}" alt="Image"></th>
                                <th style="text-align: right;">{{ result.titulo}}<br>Written by: {{result.criador.user}}</th>
                            </tr>
                        </table>
                    </div>
                </a>
                {% endfor %}
            </div>

            {% else %}
            <h1>No threads found</h1><br><br>
            {% endif %}
            {% endif %}

        {% if filter == 'users' %}
            {% if resultArrayUsers %}
                <h1>Users:</h1>

                <div class="results_grid" style="grid-template-columns: repeat(3, 1fr);">
                {% for result in resultArrayUsers %}
                <a href="{% url 'gameapp:profile_page' result.id %}" class="game-link">
                    <div class="result_link" style="text-indent: 0; vertical-align: middle;">
                        <table>
                        <th style="width: 35%">{% if result.profile_picture %}
                        <img class="profile" style="width: 60px; height: 60px;" src='{% static result.profile_picture %}'>
                        {% else %}
                        <img class="profile" style="width: 60px; height: 60px;" src='{% static "utils/defaultpp.jpg" %}'>
                        {% endif %}</th>
                        <th style="width: 65%">{{ result.username}}</th>
                        </table>
                    </div>
                </a>
                {% endfor %}
                </div>

            {% else %}
                <h1>No users found</h1><br><br>
            {% endif %}
        {% endif %}

        {% if filter == 'games' %}
            {% if resultArrayGames %}
            <h1>Games:</h1>

            <div class="results_grid">
                {% for result in resultArrayGames %}
                <a {% if result.img %} href="{% url 'gameapp:gameDetailsView' result.id.0 %}" {% else %} href="{% url 'gameapp:gameDetailsView' result.steam_appid %}" {% endif %} class="game-link">
                    <div class="result_link" style="text-indent: 0;">
                        <center>
                            {{ result.name }} <br>
                            {% if result.img %}
                            <img src="{{ result.img }}" alt="Image">
                            {% else %}
                            <img src="{{result.capsule_imagev5}}" alt="Image">
                            {% endif %}
                        </center>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% else %}
                <h1>No games found</h1><br><br>
            {% endif %}
        {% endif %}

            {% if filter == 'threads' %}
            {% if resultArrayThreads %}
            <h1>Threads:</h1>
            <div class="results_grid" style="grid-template-columns: repeat(1, 1fr);">
                {% for result in resultArrayThreads %}
                <a href="{% url 'gameapp:threadView' result.id %}" class="game-link entry" style="text-decoration: none; color: inherit;">
                    <div class="result_link" style="text-indent: 0;">
                        <table>
                            <tr>
                                <th>{{result.listaThreads.listaUtilizadorJogo.jogo.nome}}</th>
                                <th style="text-align: right;">{{result.threadTopic}}</th>
                            </tr>
                            <tr>
                                <th><img src="{{ result.listaThreads.listaUtilizadorJogo.jogo.get_img_url }}" alt="Image"></th>
                                <th style="text-align: right;">{{ result.titulo}}<br>Written by: {{result.listaThreads.listaUtilizadorJogo.utilizador.user}}</th>
                            </tr>
                        </table>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <h1>No threads found</h1><br><br>
            {% endif %}
            {% endif %}

            {% if filter == 'reviews' %}
            {% if resultArrayReviews %}
            <h1>{{keyword}} Reviews:</h1>

            <div class="results_grid" style="grid-template-columns: repeat(1, 1fr);">
                {% for review in resultArrayReviews %}
                <a href="{% url 'gameapp:reviewView' review.id %}" class="game-link entry" style="text-decoration: none; color: inherit;">
                    <div class="result_link" style="text-indent: 0;">
                        <table>
                            <tr>
                                <th>{{review.listaUtilizadorJogo.jogo.nome}}</th>
                                <th style="text-align: right;">{{review.tipoReview}}</th>
                            </tr>
                            <tr>
                                <th><img src="{{ review.listaUtilizadorJogo.jogo.get_img_url }}" alt="Image"></th>
                                <th style="text-align: right;">Written by: {{review.listaUtilizadorJogo.utilizador.user}}</th>
                            </tr>
                        </table>
                    </div>
                </a>
                {% endfor %}
            </div>



            {% else %}
                <h1>No Reviews found</h1> <br> <br>
            {% endif %}
            {% endif %}

            {% if filter == 'gameplays' %}
            {% if resultArrayGameplays %}
            <h1>{{keyword}} Gameplays:</h1>

            <div class="results_grid" style="grid-template-columns: repeat(1, 1fr);">
                {% for result in resultArrayGameplays %}
                <a href="{% url 'gameapp:gameplayView' result.gameplay.id %}" class="game-link entry" style="text-decoration: none; color: inherit;">
                    <div class="result_link" style="text-indent: 0;">
                        <table>
                            <tr>
                                <th>{{result.listaUtilizadorJogo.jogo.nome}}</th>
                                <th style="text-align: right;">{{result.gameplay.titulo}}</th>
                            </tr>
                            <tr>
                                <th><img src="{{ result.listaUtilizadorJogo.jogo.get_img_url }}" alt="Image"></th>
                                <th style="text-align: right;">Made by: {{result.listaUtilizadorJogo.utilizador.username}}</th>
                            </tr>
                        </table>
                    </div>
                </a>
                {% endfor %}
            </div>



            {% else %}
                <h1>No Gameplays found</h1> <br> <br>
            {% endif %}
            {% endif %}

        </div>

    {% endblock %}


</html>