<!DOCTYPE html>
<html>

{% extends "gameapp/index.html" %}

    {% block title %}Sign In{% endblock %}

    {% block header_login %} <th width="20%"></th> {% endblock %}

    {% block main_body %}
    <section>
        <aside></aside>

        <aside class="form_box">

        {% if error_message %}
        <strong> {{ error_message }} </strong>
        {% endif %}

        <form action="{% url 'gameapp:signin_load' %}" method="post">

            {% csrf_token %}
            <label class="label1"> Name:
            <input class="label2" style="width: 180px" type="text" name="username" required />
            </label>

            <br> <br>

            <label class="label1"> Email:
            <input class="label2" style="width: 181px" type="email" name="email" required />
            </label>

            <br> <br>

            <label class="label1"> Password:
            <input class="label2" style="width: 149px" type="password" name="password" required />
            </label>

            <br> <br> <br>

            <center><input class="button1" type="submit" value="Sign In" /></center>
        </form>

        <br> <br>

        <center>Already have an account? Click <a href="{% url 'gameapp:login' %}">Log In</a></center>
        </aside>

    <aside></aside>
    </section>
    {% endblock %}

</html>