<!DOCTYPE html>
<html lang="en">
{% extends "gameapp/index.html" %}

{% load static %}

    {% block title %}Search: {{ keyword }}{% endblock %}

    {% block main_article %}
        {% for result in resultArrayThreads %}
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="game-link entry" style="text-decoration: none; color: inherit;">
                <div>
                    <p>{{ result.titulo}}</p>
                    <p>Thread's game:</p>
                    <p>{{ gameName }}</p>
                </div>
            </a>
        {% endfor %}
    {% endblock %}
</html>