<!DOCTYPE html>
<html lang="en">
{% extends "gameapp/index.html" %}

{% load static %}

    {% block javascript %}var maxChildren = 3;{% endblock %}

    {% block title %}{{utilizador.username}}'s list{% endblock %}

    {% block main_article %}
        <h2>{{utilizador.username}}'s list</h2>

        <div class="results_box">
        {% if resultArrayEntries %}
        <div id="parent" class="results_grid" style="grid-template-columns: repeat(1, 1fr);">
            {% for result in resultArrayEntries %}
            <div class="child"><a href="{% url 'gameapp:gameDetailsView' result.jogo.steam_id %}" class="game-link" style="width: 100%;">
                <div class="result_link" style="text-indent: 0;">
                    <table style="width: 100%">
                        <tr>
                            <th>{{result.jogo.nome}}</th>
                            <th>{% if result.estado != 'Plan-to-Play' %}Rated: {{ result.rating }}{% endif %}</th>
                            <th style="text-align: right;">{{ result.estado }}</th>
                        </tr>
                        <tr>
                            <th><img src="{{ result.jogo.get_img_url }}" alt="Image"></th>
                            <th> </th>
                            <th style="text-align: right;">Last Modified: {{ result.last_altered.date }}</th>
                        </tr>
                    </table>
                </div>
            </a></div>
            {% endfor %}
        </div>
        {% else %}
        User doesn't have Games on List.
        {% endif %}

            <br> <br>
    </div>
    {% endblock %}
</html>