<!DOCTYPE html>
<html lang="en">
{% extends "gameapp/index.html" %}

{% load static %}

    {% block title %}Search: {{ keyword }}{% endblock %}

    {% block main_article %}
        <h1>{{utilizador.username}}'s list</h1>

        <div class="results_box">
        {% if resultArrayEntries %}
        <div class="results_grid" style="grid-template-columns: repeat(1, 1fr);">
            {% for result in resultArrayEntries %}
            <a href="{% url 'gameapp:gameDetailsView' result.jogo.steam_id %}" class="game-link">
                <div class="result_link" style="text-indent: 0;">
                    <table>
                        <tr>
                            <th>{{result.jogo.nome}}</th>
                            <th>Rated: {{ result.rating }}</th>
                            <th style="text-align: right;">{{ result.estado }}</th>
                        </tr>
                        <tr>
                            <th><img src="{{ result.jogo.get_img_url }}" alt="Image"></th>
                            <th> </th>
                            <th style="text-align: right;">Last Modified: {{ result.last_altered.date }}</th>
                        </tr>
                    </table>
                </div>
            </a>
            {% endfor %}
        </div>
        {% else %}
        User doesn't have Games on List.
        {% endif %}
    </div>
    {% endblock %}
</html>