<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Questões{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $("#imagem").on("dblclick", function() {
                $("#imagem").hide();
            });
            $("#nome").click(function(){
                $("#test").show();
            });
            
            $("#showListQuestion").click(function(){
                $("#list").show();
                $("#hideListQuestion").show();
                $("#showListQuestion").hide();
            });
            
            $("#hideListQuestion").click(function(){
                $("#list").hide();
                $("#showListQuestion").show();
                $("#hideListQuestion").hide();
            });
            
            $("#showUserDetalhes").hover(function(){
                $("#dadosUser").show();
            });
            
            $('#showUserDetalhes').hover(function() {
                $("#dadosUser").fadeIn('fast');    
                }, function() {$("#dadosUser").fadeOut('fast');
    });
        });
    </script>
</head>

<header>
    <h1> <table style="width: 100%">
        <th style="text-align: left; width: 40%">{% block header_title %} Últimas Questões{% endblock %}</th>
        <th style="text-align: right; width: 46%" id = "nome"> {% block header_name %}
            {% if request.user.is_authenticated %}
            {{ request.user}} votos: {{ request.user.aluno.votos }}
            {% else %}
            User
            {% endif %}
        {% endblock %} </th>
         <th style="text-align: center; width: 4%"> {% block profile_pic %}
            {% if request.user.is_authenticated %}
                {% if request.user.aluno.profile_picture %}
                <img id="imagem" style="border: 2px solid black; border-radius: 26px" width="28" height="28" src='{% static request.user.aluno.profile_picture %}'>
                {% else %}
                <img id="imagem" style="border: 2px solid black; border-radius: 26px" width="28" height="28" src='{% static "defaultpp.jpg" %}'>
                {% endif %}
            {% else %}
            <img style="border: 2px solid black; border-radius: 26px" width="28" height="28" src='{% static "defaultpp.jpg" %}'>
            {% endif %}
         {% endblock %} </th>
    </table> </h1>
</header>

<br>

<section>

    {% block body %} <article> <body>
    <button id="showListQuestion">Mostrar lista de Questões</button>
    <button id="hideListQuestion" style="display: none;">Ocultar lista de Questões</button>
    
    {% if latest_question_list %}
    <ul id="list" style="display: none;">
        {% for questao in latest_question_list %}
        <li>
            <a href="{% url 'votacao:resultados' questao.id %}"> {{ questao.questao_texto }} </a>
        </li>
        {% endfor %}
    </ul>
        
    {% else %}
    <p>Nao ha questoes disponiveis.</p>
    {% endif %}
    <a href="{% url 'votacao:criarquestao' %}"><button class="button2">Criar Questão</button></a>

    </body> </article> {% endblock %}

    <nav>

        <br>
        <a href="{% url 'votacao:index' %}"><button class="button1">Página Inicial</button></a>
        <br>
        <a href="{% url 'votacao:userPage' %}"><button class="button1">Perfil</button></a>
        <br>
        <a href="{% url 'votacao:loginPage' %}"><button class="button1">Login</button></a>

        {% block nav %} {% endblock %}

        <br>

    </nav>

</section>

</html>